$neutral-1: #f9f6ee;
$neutral-2: #71797e;
$neutral-3: #303033;
$neutral-4: #18181c;
$neutral-5: #0a0e14;

$success: #63e2b7;
$info: #70c0e8;
$warning: #f2c97d;
$error: #e88080;
$help: #c699f0;

$primary: #00bdff;
$secondary: #ff00bd;
$tertiary: #bdff00;
$red: #ffadad;
$orange: #ffd6a5;
$yellow: #fdffb6;
$green: #caffbf;
$cyan: #9bf6ff;
$blue: #a0c4ff;
$purple: #bdb2ff;
$magenta: #ffc6ff;
$pink: #ffe3fe;
$white: #fffffc;

$colors: (
    primary: $primary,
    secondary: $secondary,
    tertiary: $tertiary,
    red: $red,
    orange: $orange,
    yellow: $yellow,
    green: $green,
    cyan: $cyan,
    blue: $blue,
    purple: $purple,
    magenta: $magenta,
    pink: $pink,
    white: $white,
);
