$neutral-light: #f9f6ee;
$neutral: #71797e;
$neutral-dark: #0a0e14;

$success: #50c878;
$warning: #fdda0d;
$danger: #d70040;

$primary: #00bdff;
$secondary: #ff00bd;
$tertiary: #bdff00;
$red: #ffadadff;
$orange: #ffd6a5ff;
$yellow: #fdffb6ff;
$green: #caffbfff;
$cyan: #9bf6ffff;
$blue: #a0c4ffff;
$purple: #bdb2ffff;
$magenta: #ffc6ffff;
$pink: #ffe3feff;
$light: #fffffcff;
