.bordered {
    border: solid black 2px;
}

.loading-page {
    position: relative;
    width: 100vw;

    h1 {
        color: white;
        position: absolute;
        bottom: 50%;
        right: 50%;
        transform: translate(50%, 50%);
    }
}
